<div class="sidebar">
  <div class="sidebar-brand">
    <h5>Admin Dashboard</h5>
  </div>
  <nav class="nav flex-column">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <span>Dashboard</span>
    </a>
    <a class="nav-link" routerLink="/users" routerLinkActive="active">
      <span>Users</span>
    </a>
    <a class="nav-link" routerLink="/patients" routerLinkActive="active">
      <span>Patients</span>
    </a>
    <a class="nav-link" routerLink="/confections" routerLinkActive="active">
      <span>Confections</span>
    </a>
    <a class="nav-link" routerLink="/customers" routerLinkActive="active">
      <span>Customers</span>
    </a>
    <a class="nav-link" routerLink="/products" routerLinkActive="active">
      <span>Products</span>
    </a>
    <a class="nav-link" routerLink="/orders" routerLinkActive="active">
      <span>Orders</span>
    </a>
    <a class="nav-link" routerLink="/finances" routerLinkActive="active">
      <span>Finances</span>
    </a>
    <a class="nav-link" routerLink="/carriers" routerLinkActive="active">
      <span>Carriers</span>
    </a>
    <a class="nav-link" routerLink="/data-export" routerLinkActive="active">
      <span>Export</span>
    </a>
    <a class="nav-link" routerLink="/settings" routerLinkActive="active">
      <span>Settings</span>
    </a>
  </nav>
</div>